*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
	background-color: #95e1ff;
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}
input[type=checkbox] {
	margin-right: 0;
}

.container {
	background:  #bf8afc;
	padding: 20px;
	width: 350px;
	max-width: 100%;
  box-shadow: 2px 4px 20px 6px rgb(0 0 0 / 40%);
}

.container h2 {
	margin: 10px 0 20px;
	text-align: center;
}

.sub-container {
	background-color: rgba(252, 107, 107, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.sub-container .result {
  word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.container .sub-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.container .btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background: rgb(180, 76, 125);
  display: block;
	width: 100%;
  outline: none;
}

.setup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

.setup input#length{
  outline: none;
}

@media (max-width: 400px) {
	.sub-container {
		font-size: 14px;
	}
}